.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    max-height: 80px;
    height: 100%;
    max-width: 150px;
    width: 100%;
    border: 1px solid black;
} 

.label {
padding-top: 10px;
} 

.percentage {
    padding-bottom: 10px;
} 

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
} 

.statList {
    display: flex;
    justify-content: space-between;
    padding: 0;

    max-width: 350px;
    width: 100%;

    list-style: none;
} 
